.DS_Store
# .gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
# content/.obsidian
content/.obsidian/workspace
content/.obsidian/workspace.json
content/.obsidian/cache
content/.obsidian/graph.json
content/.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/
.quartz-cache
private/
.replit
replit.nix

content/private/
content/x00_private/
content/college/
content/x00_college/
