.DS_Store
# .gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
# content/.obsidian
.obsidian/workspace
.obsidian/workspace.json
.obsidian/cache
.quartz-cache
private/
.replit
replit.nix

content/private/
content/college/
