/*.cm-trailing-space-a,
.cm-trailing-space-b,
.cm-trailing-space-new-line {
    border: 1px solid LightPink;
}*/

/*.cm-trailing-space-a::before,
.cm-trailing-space-b::before {
    content: ".";
    position: absolute;
    bottom: 25%;
    opacity: 0.3;
}*/

.cm-trailing-space-new-line::before {
    content: "↵";
    position: absolute;
    /*bottom: 15%;*/
    opacity: 0.5;
}