@use "./base.scss";
@use "sass:map";
@use "./variables.scss" as *;

// put your custom CSS here!
:root {
  --tokyonight-red: rgb(255, 117, 156);
  --tokyonight-yellow: rgb(224, 175, 104);
  --tokyonight-green: rgb(158, 206, 106);
  --tokyonight-cyan: rgb(125, 207, 255);
  --tokyonight-blue: rgb(122, 162, 247);
  --tokyonight-magenta: rgb(187, 154, 247);
  --pale-cyan: rgb(145, 217, 250);
  --pale2-cyan: rgb(165, 227, 245);
}

:root[saved-theme="light"] {
  --tokyonight-red: rgb(235, 97, 136);
  --tokyonight-yellow: rgb(204, 155, 84);
  --tokyonight-green: rgb(138, 186, 86);
  --tokyonight-cyan: rgb(105, 187, 235);
  --tokyonight-blue: rgb(102, 142, 227);
  --tokyonight-magenta: rgb(167, 134, 227);
  --pale-cyan: rgb(115, 187, 220);
  --pale2-cyan: rgb(135, 197, 215);
}

.center {
  h1 {
    color: var(--tokyonight-red);
  }

  h2 {
    color: var(--tokyonight-yellow);
  }

  h3 {
    color: var(--tokyonight-green);
  }

  h4 {
    color: var(--tokyonight-cyan);
  }

  h5 {
    color: var(--tokyonight-blue);
  }

  h6 {
    color: var(--tokyonight-magenta);
  }

  strong {
    color: var(--pale-cyan);
  }

  em {
    color: var(--pale2-cyan);
  }
}

.center {
  padding: 1rem 2rem 2rem 1rem;
}

.page-title {
  font-size: 3em;
}

@media all and (min-width: #{map.get($breakpoints, mobile) + 1px}) {

  .sidebar.left {
    max-height: 100vh;
    overflow-y: auto;
    padding-bottom: 2rem !important;
    padding-right: 1rem !important;

    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;

    /* IE/Edge */
    &::-webkit-scrollbar {
      display: none;
      /* Chrome/Safari */
    }

    //scrollbar-width: thin; /* Firefox */
    //scrollbar-color: var(--lightgray) transparent; /* Firefox */

    //&::-webkit-scrollbar {
    //  width: 4px;
    //}
    //&::-webkit-scrollbar-track {
    //  background: transparent;
    //}
    //&::-webkit-scrollbar-thumb {
    //  background-color: var(--lightgray);
    //  border-radius: 20px;
    //}

    .explorer {
      min-height: 240px !important;
    }

    .explorer.collapsed {
      min-height: 20px !important;
    }
  }

  .sidebar.right {
    max-height: 100vh;
    overflow-y: auto;
    padding-bottom: 2rem !important;
    padding-right: 1rem !important;

    scrollbar-width: none;

    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}