@use "./base.scss";
@use "sass:map";
@use "./variables.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

// put your custom CSS here!
:root {
  --tokyonight-red: rgb(255, 117, 156);
  --tokyonight-yellow: rgb(224, 175, 104);
  --tokyonight-green: rgb(158, 206, 106);
  --tokyonight-cyan: rgb(125, 207, 255);
  --tokyonight-blue: rgb(122, 162, 247);
  --tokyonight-magenta: rgb(187, 154, 247);
  --pale-cyan: rgb(145, 217, 250);
  --pale2-cyan: rgb(165, 227, 245);
}

:root[saved-theme="light"] {
  --tokyonight-red: rgb(235, 97, 136);
  --tokyonight-yellow: rgb(204, 155, 84);
  --tokyonight-green: rgb(138, 186, 86);
  --tokyonight-cyan: rgb(105, 187, 235);
  --tokyonight-blue: rgb(102, 142, 227);
  --tokyonight-magenta: rgb(167, 134, 227);
  --pale-cyan: rgb(115, 187, 220);
  --pale2-cyan: rgb(135, 197, 215);
}

.center {
  h1 {
    color: var(--tokyonight-red);
  }

  h2 {
    color: var(--tokyonight-yellow);
  }

  h3 {
    color: var(--tokyonight-green);
  }

  h4 {
    color: var(--tokyonight-cyan);
  }

  h5 {
    color: var(--tokyonight-blue);
  }

  h6 {
    color: var(--tokyonight-magenta);
  }

  strong {
    color: var(--pale-cyan);
  }

  em {
    color: var(--pale2-cyan);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
  }

  h1::after,
  h2::after,
  h3::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    opacity: 0.2;
  }

  h1.article-title {
    margin-bottom: 1rem !important;
  }

  h1::after {
    background-color: var(--tokyonight-red);
  }

  h2::after {
    background-color: var(--tokyonight-yellow);
  }

  h3::after {
    background-color: var(--tokyonight-green);
  }
}

.page-title {
  font-size: 3em;
}

@media all and (min-width: #{map.get($breakpoints, mobile) + 1px}) {

  .sidebar.left {
    max-height: 100vh;
    overflow-y: auto;
    padding-bottom: 2rem !important;
    padding-right: 1rem !important;

    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;

    /* IE/Edge */
    &::-webkit-scrollbar {
      display: none;
      /* Chrome/Safari */
    }

    //scrollbar-width: thin; /* Firefox */
    //scrollbar-color: var(--lightgray) transparent; /* Firefox */

    //&::-webkit-scrollbar {
    //  width: 4px;
    //}
    //&::-webkit-scrollbar-track {
    //  background: transparent;
    //}
    //&::-webkit-scrollbar-thumb {
    //  background-color: var(--lightgray);
    //  border-radius: 20px;
    //}

    .explorer {
      min-height: 240px !important;
    }

    .explorer.collapsed {
      min-height: 20px !important;
    }
  }

  .sidebar.right {
    max-height: 100vh;
    overflow-y: auto;
    padding-bottom: 2rem !important;
    padding-right: 1rem !important;

    scrollbar-width: none;

    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

table {
  overflow: auto;
}

//.explorer > .explorer-content > .explorer-ul > li > 
.folder-outer > .content > li > a::before {
  display: inline-block;
  content: "";
  width: 0.5rem;
  border-top: 1px solid var(--gray);
  position: relative;
  left: -0.3rem;
  vertical-align: middle;
  transform: translateY(-0.05rem);
}

.page-header {
  margin-top: 1rem !important;
}

.left.sidebar {
  padding-top: 1rem !important;
}

.right.sidebar {
  padding-top: 2rem !important;
}

@media all and ($mobile) {
  .page-header {
    margin-top: 6rem !important;
  }

  .page > #quartz-body {
    .explorer-content {
      padding-left: 1rem;
    }
  }
}