@use "./base.scss";

// put your custom CSS here!
:root {
  --tokyonight-red: rgb(255, 117, 156);
  --tokyonight-yellow: rgb(224, 175, 104);
  --tokyonight-green: rgb(158, 206, 106);
  --tokyonight-cyan: rgb(125, 207, 255);
  --tokyonight-blue: rgb(122, 162, 247);
  --tokyonight-magenta: rgb(187, 154, 247);
  --pale-cyan: rgb(145, 217, 250);
  --pale2-cyan: rgb(165, 227, 245);
}

.center {
  h1 {
    color: var(--tokyonight-red);
  }

  h2 {
    color: var(--tokyonight-yellow);
  }

  h3 {
    color: var(--tokyonight-green);
  }

  h4 {
    color: var(--tokyonight-cyan);
  }

  h5 {
    color: var(--tokyonight-blue);
  }

  h6 {
    color: var(--tokyonight-magenta);
  }

  strong {
    color: var(--pale-cyan);
  }

  em {
    color: var(--pale2-cyan);
  }
}

.sidebar.left {
  max-height: 100vh;
  overflow-y: auto;
  scrollbar-width: thin;
  position: sticky;
  top: 0;
  padding-bottom: 2rem;
}

.page-title {
  font-size: 3em;
}

.explorer {
  min-height: 240px;
}